services:
  app:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - .:/app

  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  worker:
    build: .
    command: python -m celery -A app.auth.tasks:celery_app worker --loglevel=info -P solo
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    env_file:
      - .env

  beat:
    build: .
    command: python -m celery -A app.auth.tasks:celery_app beat --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
    env_file:
      - .env

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

  minio-theater:
    image: minio/minio:latest
    container_name: minio-theater
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 10s
      timeout: 5s
      retries: 5

  stripe:
    image: stripe/stripe-cli
    container_name: stripe_cli
    command: listen --forward-to app:8000/payments/webhook --api-key ${STRIPE_SECRET_KEY} --log-level info
    env_file:
      - .env
    depends_on:
      - app

volumes:
  postgres_data:
  minio_data: